{%extends 'music1/base.html'%}
{%block body%}
{% load tag_library %}
{% load dosearch %}
{% load append %}
{% load append1 %}
{% load check_box %}

<div class="container">
<h1><center>Soluble Human Protein Hormone Proteome, V 1.0</center></h1><br>

<p>This list has multiple origins: 
<ul>
<li>PeptideDB, Data Analysis & Modeling Group at Hasselt University and Functional Genomics and Proteomics Unit at K.U. Leuven 
(18 June 2014 search); </li>
<li> soluble biomarker listings from Campbell & Rockett, Biomarkers of ovulation, endometrial receptivity, fertilisation, 
implantation and early pregnancy progression, Paediatric and Perinatal Epidemiology 2006, 20(Suppl. 1): 13–25; </li>
<li>KL Campbell notes from the annual 
meetings of the Society for the Study of Reproduction and the Endocrine Society 2011-2015; </li>
<li>the EndoNet genome encoded hormone list, Institut for Bioinformatics UMG Göttingen; & clearly hormonal or secreted 
signal proteins found in a targeted UniProt search June, 2014.</li>
</ul></p>

<p>It is intended to foster and support research on protein hormones and their metabolism, initially in humans, 
but potentially extending to other organisms.  Currently, our investigations focus on the patterns of 
proteolysis of protein hormonal transcripts which often give rise to multiple, independent signaling molecules and how these nested 
information systems may be generated, utilized, and controlled.  Our early postings include known and predicted proteolysis patterns, 
associations of proteolytic sites with protein motif margins and with gene exonal boundaries, and information pertinent to establishing 
possible functionality for the proteolytic fragments of protein hormone transcripts and their known products.</p>

<p>We invite others to explore the currently posted information and to propose to us additional 
information from their own studies that will expand on present knowledge.</p>
</div>

{%endblock%}









