{%extends 'music1/base.html'%}


{%block body%}

<form>
    <label for="predicate">{{rows}}</label>

    <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates" >25</select>
</form>

<div class="col-sm-14">
    
    <div class="panel panel-default">
        <div class="panel-body">
            <table st-table="all_proteins" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="getters.protein_id">ProteinID</th>
                        <th>PeptidedbID</th>
                        <th>uniprotID</th>
                        <th>Endonet Link</th>
                        <th>Know Fragments</th>
                        <th>Hormone</th>
                        <th>Pro-Peptide</th>
                        <th>Transcript</th>
                        <th>Peptide Name</th>
                        <th>Fasta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Proteins in all_proteins %}
                    <tr>
                        {% if  forloop.counter0 < rows %}

                        <td>{{protein.protein_id}} </td>
                        <td>{{protein.peptidedb_id }}</td>
                        <td>{{protein.uniprot_id }}</td>
                        <td>{{protein.endonet_link}}</td>
                        <td> {{protein.know_fragments }}</td>
                         <td>{{protein.hormone}} </td>
                         <td>{{protein.pro_peptide }} </td>
                         <td> {{protein.transcript}}</td>
                         <td>{{protein.peptide_name }} </td>
                         <!--<td> {{protein.fasta}}</td>-->
                         <td>
                             <button class="btn btn-sm" popover-placement="right" popover="{{protein.fasta}}" type="button">
                                 <i class="glyphicon glyphicon-eye-open"></i>
                             </button>
                             <a ng-href="mailto:{{protein.fasta})"></a></td>
                         <td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
    {% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
    {% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
    {% endif %}
</ul>
{% else %}
{% endif %}










<!---
<script type="text/javascript">
 
</script>
-->
{%endblock%}









