{%extends 'music1/base.html'%}
{%block body%}
{% load tag_library %}
{% load dosearch %}
{% load append %}
{% load append1 %}
{% load check_box %}

<div class="container">
<h2>Contributors</h2>
<br>
<h4>Principal Investigators</h4>
<ul>
<li> Kenneth Campbell, Department of Biology, UMass Boston</li>
<li> Nurit Haspel, Department of Computer Science, UMass Boston</li>
</ul>
<br>
<h4>Students</h4>
<ul>
<li> Cassandra Gath</li>
<li> Ahmad Hasaba</li>
<li> Nuzulul Kurniatyash</li>
<li> Indira Nouduri</li>
<li> Naomi Stuffers</li>
<li> Umaben Vadher</li>
<li> Amir Vajdi</li>
<li> Seraphina Yang</li>
<li> Mike Vilme</li>
<li> Brianna Mason</li>
<li> Barbara Dominas</li>
<li>Jeremy Steinbruck</li>
<li>Sherry Solchenberger</li>
<li>Noelle Palmstrom</li>
<li>Fatoumata Binta Diallo</li>
<li>Wagner Calixte</li>
<li>Vanessa Ford</li>
<li>Tara Gabriel-Richards</li>
</ul>
</div>

{%endblock%}









