{% extends 'music1/base.html'%}
{%block body%}
{% load tag_library %}
{% load dosearch %}
{% load append %}
{% load append1 %}
{% load check_box %}
<div class="container">
<h2> Entry {{protein_list.protein_id}} </h2>
 <br>

<h4>Annotation</h4>
{{protein_list.peptide_name}}  

<h4>Cross References</h4>
{{protein_list.peptidedb_id|get_href1 |safe }}
{{protein_list.uniprot_id|get_href |safe }}
{{protein.endonet_link|get_href_endo |safe}}


<h4>Sequence (FASTA format)</h4>
{%if ">" not in protein_list.fasta %}
<p style="width:720px; word-wrap:break-word;">>seq<br>{{protein_list.fasta}}</p>
{%else%}
<p style="width:720px; word-wrap:break-word;">{{protein_list.fasta}}</p>
{%endif %}
</div>
{%endblock%}

